/* globals.css */

@import url("https://fonts.googleapis.com/css2?family=Sukhumvit+Set&display=swap");

body {
  font-family: "Sukhumvit Set", sans-serif;
  background-color: #fefaf6;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background: transparent;
  border-radius: 8px;
}

.header-with-back-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #102c57;
}

.notification-icon {
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
}

.top-right-icon {
  display: flex; /* จัดเรียงไอคอนและรูปโปรไฟล์ข้างกัน */
  align-items: end; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  gap: 10px; /* เพิ่มระยะห่างระหว่างไอคอนและรูป */
}

.profile-pic {
  width: 24px; /* ปรับขนาดตามต้องการ */
  height: 24px; /* ปรับขนาดตามต้องการ */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  object-fit: cover; /* ครอบภาพให้อยู่ในกรอบวงกลม */
  border: 2px solid #102c57;
  align-items: end; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-family: "Sukhumvit Set", sans-serif;
}

.subtitle {
  font-family: "Sukhumvit Set", sans-serif;
  margin-bottom: 24px;
}

.subtitle a {
  color: #102c57;
  font-weight: 700;
}

.input-group {
  margin-bottom: 15px;
  font-family: "Sukhumvit Set", sans-serif;
}

label {
  font-size: 16px;
  color: #555;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  padding-right: 30px; /* เว้นที่ให้ไอคอน */
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #102c57;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phoneNUmber"],
input[type="age"],
input[type="heightCM"],
input[type="shoeSizeEU"],
input[type="shoeSizeCM"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

/* input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #0070f3;
  outline: none;
} */

.show-password-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0070f3;
  margin-left: 8px;
}

.primary-btn {
  font-family: "Sukhumvit Set", sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #102c57;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 80px;
  cursor: pointer;
  font-size: 16px;
  /* font-weight: bold; */
  /* transition: background-color 0.3s ease; */
}

/* .primary-btn:hover {
  background-color: #0a1c34;
} */

/* .primary-btn:focus {
  outline: none;
} */

p.alert{
color: red;
}
.back-icon {
  margin-top: 40px;
  color: #102c57;
}
.status-bar {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.circle {
  border: 2px solid #e0e0e0; /* เพิ่มกรอบสีน้ำเงินเข้ม */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.circle.active {
  background-color: #fefaf6;
  border: 2px solid #102c57; /* เพิ่มกรอบสีน้ำเงินเข้ม */
  color: #102c57;
}

.circle.complete {
  background-color: #102c57;
  border: 2px solid #102c57; /* เพิ่มกรอบสีน้ำเงินเข้ม */
  color: white;
}

.status-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
  z-index: 0;
}

.circle.active::before {
  background-color: #0070f3;
  width: 50%;
  left: 50%;
}

.circle:not(.active)::before {
  background-color: #ccc;
  width: 100%;
}

.circle:first-child::before {
  content: none;
}

/* สไตล์สำหรับ label */
label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}
.select-wrapper {
  position: relative;
}
.select-wrapper-setting {
  position: relative;
}

select {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  appearance: none; /* Hide default arrow */
  font-family: "Sukhumvit Set", sans-serif;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
/* Optional: add styling for when the dropdown is open */
select.open {
  font-family: "Sukhumvit Set", sans-serif;
  border-color: #0070f3; /* Change border color when dropdown is open */
  background: #f0f0f0; /* Change background color */
  /* background: url('/path-to-your-arrow-icon-open.svg') no-repeat right 10px center; */
  background-size: 12px 12px;
  /* box-shadow: 0 0 0 2px rgba(0, 112, 255, 0.2);  */
}

.profile-image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  /* background-color: #0070f3; */
  border: 2px solid #102c57;
}

.content-text {
  font-family: "Sukhumvit Set", sans-serif;
}
.checkbox-container {
  font-family: "Sukhumvit Set", sans-serif;
  margin: 20px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-family: "Sukhumvit", sans-serif;
  cursor: pointer;
}

.checkbox-label span {
  margin: 0;
  font-family: "Sukhumvit", sans-serif;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #102c57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.custom-checkbox.checked {
  background-color: #102c57;
}

.checkmark {
  color: white;
  font-size: 18px;
  line-height: 1;
}

.checkbox-container .checkbox-label span {
  font-family: "Sukhumvit", sans-serif;
}

/* CompletePage */
.center-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust as needed for spacing */
  margin-bottom: 20px; /* Space between the circle and the button */
}

.center-circle {
  width: 100px; /* Size of the circle */
  height: 100px; /* Size of the circle */
  border-radius: 50%;
  background-color: white; /* White background */
  border: 2px solid #27ae60; /* Border color */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.center-circle svg {
  color: #27ae60; /* Icon color */
  font-size: 24px; /* Icon size */
}

.center-circle-text {
  font-family: "Sukhumvit Set", sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  text-align: center; /* Center text horizontally */
  margin-bottom: 24px;
}

/* HomePage*/
/* styles/globals.css */
.menuBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #102c57;
  font-family: "Sukhumvit Set", sans-serif;
}

.menuItem p {
  margin-top: 5px;
  font-size: 12px;
}

.menuItem:hover {
  color: #007bff;
}
.menuItem svg {
  font-size: 24px;
}

/* HistoryPage */

/* จัดการโครงสร้างหลักของหน้า */
.historyPage {
  max-width: 600px;
  margin: 0 auto; /* จัดกึ่งกลางหน้าจอ */
  font-family: "Sukhumvit Set", sans-serif;
}

/* จัดการ Search Bar */
.searchBar {
  display: flex;
  flex-direction: column; /* แยกบรรทัดกัน */
  gap: 20px; /* เว้นช่องว่างระหว่างแต่ละ search item */
  padding: 20px;
}

/* จัดกลุ่ม Order Code และ Status ในบรรทัดเดียวกัน */
.orderStatusGroup {
  display: flex;
}

/* ช่องค้นหา */
.searchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc; /* เส้นขอบ */
  border-radius: 20px; /* ขอบโค้งมน */
  background-color: white;
  padding: 3px;
}

.searchItem input {
  flex: 1; /* ขยายช่อง input ให้เต็มพื้นที่ */
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none; /* เอาเส้นขอบตอนโฟกัสออก */
  background-color: transparent;
}

/* สำหรับ select ใน orderStatusGroup */
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px; /* ปัดมุมด้านขวาบน */
  border-bottom-right-radius: 20px; /* ปัดมุมด้านขวาล่าง */
  /* border-radius: 0; */
  background-color: white;
  appearance: none; /* ซ่อนลูกศรดรอปดาวน์เดิม */
  
}

.select-wrapper .select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #555;
}

.searchItem input,
.searchItem select,
.react-datepicker__input-container input {
  flex: 1; /* ขยายช่อง input ให้เต็มพื้นที่ */
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none; /* เอาเส้นขอบตอนโฟกัสออก */
  background-color: transparent;
}

.searchItem input::placeholder,
.react-datepicker__input-container input::placeholder {
  color: #aaa;
}

/* ไอคอน */
.searchItem svg {
  color: #555; /* สีไอคอน */
  margin-left: 16px;
}

.searchItem.orderId {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px; /* ปัดมุมด้านขวาบน */
  border-bottom-left-radius: 20px; /* ปัดมุมด้านขวาล่าง */
}

.orderCard {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* เพิ่มระยะห่างด้านล่าง */
}

.orderCode {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.orderStatus.pending {
  background-color: #F9F1D8; /* สีเหลือง */
  border: 1px solid #f1c40f;
  color: #f1c40f;
  border-radius: 20px;
  padding: 8px;
}

.orderStatus.completed {
  background-color: #D4EFDF; /* สีเขียว */
  border: 1px solid #27ae60;
  color: #27ae60;
  border-radius: 20px;
  padding: 8px;
}

.orderStatus.canceled {
  background-color: #FBDDDD; /* สีแดง */
  border: 1px solid #e74c3c;
  color: #e74c3c;
  border-radius: 20px;
  padding: 8px;
}

.orderSteps {
  margin-top: 16px;
  padding: 16px;
  background-color: white;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  position: relative;
}

.detailSteps {
  margin-top: 16px;
  padding: 16px;
  margin: 0;
  background-color: white;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  position: relative;
}

.orderStep {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}

.detailStep {
  display: flex;
  align-items: center;
  position: relative;
  /* margin-bottom: 16px; */
  color: #828282;
}

.orderStep p {
  margin-left: 16px; /* Space between dot and text */
}

.detailStep p {
  margin-left: 0px; /* Space between dot and text */
}


.orderStep:last-child::after {
  display: none; /* Hide the last dot's connecting line */
}

.submitDateContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* ระยะห่างระหว่างไอคอนและวันที่ */
  margin-bottom: 15px; /* เพิ่มระยะห่างด้านล่าง */
}

.submitDateContainer svg{
color: #555;
}

.submitDate {
  font-size: 16px;
  color: #828282;
}

.divider {
  border: 1px solid #ddd;
  margin: 15px 0;
}

.orderInfo {
  font-size: 16px;
  color: #828282;
  margin-bottom: 15px;
}

.userDetail {
  color: #1D1D1D; /* สีของข้อความ */
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footInfoBtn, .view3DBtn {
  background-color: transparent;
  border: 1px solid #102c57;
  font-family: "Sukhumvit Set", sans-serif;
  color: #102c57;
  border-radius: 10px;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-size: 16px;
}

.footInfoBtn:hover, .view3DBtn:hover {
  background-color: #102c57;
  color: white;
}

/* InfoPage */
.searchBar h1{
  margin-bottom: 0px;
}

.searchBar p{
  margin-top: 0px;
  font-size: 16px;
}

.detail-info{
  display: flex;
  align-items: center;
  gap: 10px; /* ระยะห่างระหว่างไอคอนและวันที่ */
}

.detail-info p{
  margin-bottom: 0;
}

.detail-info svg{
  font-size: 24px;
}

.foot-detail {
  display: flex;
  justify-content: center; /* จัดตรงกลางในแนวนอน */
  align-items: center; /* จัดตรงกลางในแนวตั้ง (ถ้าต้องการ) */
  height: 100%; /* ถ้าต้องการให้เต็มพื้นที่แนวตั้ง */
  margin-top: 20px; /* ปรับ margin ให้เหมาะสม */
}

.foot-pic {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* เพิ่มสไตล์ตามต้องการ */
}

.grid-container {
  overflow-y: auto; /* อนุญาตให้เลื่อนดูเนื้อหาถ้ามันเกินความสูง */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* สร้าง 2 คอลัมน์ */
  grid-gap: 20px; /* ระยะห่างระหว่างแต่ละช่อง */
  max-width: 600px; /* ขนาดสูงสุดของ grid */
  margin: 20px auto; /* จัดให้อยู่ตรงกลาง */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: start; /* จัดข้อความและช่องให้อยู่ตรงกลาง */
}

.grid-item p {
  margin-bottom: 10px; /* เพิ่มระยะห่างระหว่าง text และ input */
  justify-content: center;
}

.grid-item input {
  padding: 10px;
  width: 100%; /* ขยาย input ให้เต็มช่อง */
  border: 1px solid #B7BCC6;
  border-radius: 20px; /* เพิ่มมุมโค้ง */
}
.info-card {
  background-color: #B7BCC6;
  border: 1px solid #B7BCC6;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto; /* ให้การ์ดอยู่ตรงกลาง */
}

.info-row {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 3fr; /* คอลัมน์แรกสำหรับตัวอักษรภาษาอังกฤษ, คอลัมน์ที่สองสำหรับคำอธิบาย */
  gap: 10px;
  padding: 10px 0; /* เพิ่ม padding ด้านบนและล่าง */
  border-bottom: 1px solid #FEFAF6; /* เส้นแบ่งระหว่างบรรทัด */
}
.info-letter {
  font-weight: bold;
  text-align: left;
}

.info-description {
  text-align: left;
}

.info-card ul {
  list-style-type: none;
  padding: 0;
}

.info-card li {
  margin: 5px 0;
}